@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");

body {
  margin: 0;
}

.wrapper-header {
  background-color: rgba(244, 244, 244, 0.75);
}

.cards-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-image: url(images/flowers-background.jpg);
  opacity: 0.75;
  height: 615px;
  padding-top: 20px;
}

h2 {
  display: block;
  position: relative;
  top: 30px;
  font-family: "Alex Brush", cursive;
  font-size: 32px;
  text-align: center;
  font-weight: 400;
}

.card-short {
  height: 575px;
  width: 360px;
  border-radius: 15px;
  box-shadow: 20px 20px 100px 15px grey;
}

.card-long {
  height: 600px;
  width: 360px;
  border-radius: 15px;
  box-shadow: 20px 20px 100px 15px grey;
}

.card-content {
  position: relative;
  align-items: center;
  justify-content: center;
  height: 535px;
  max-width: 350px;
}

/* .card-content::before {
  content: "";
  background-image: url(images/flowers-card.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
} */

h3,
p {
  /* text-align: center; */
  font-family: "Playfair Display", serif;
}

h3 {
  font-size: 24px;
  position: relative;
  color: #000000;
  text-align: center;
}

p {
  font-size: 20px;
  position: relative;
  color: #000000;
  text-align: center;
}

svg {
  display: block;
  margin:auto;
}

img {
  display: block;
  margin: auto;
  /* position: absolute; */
  bottom: 0;
}